.logolink {
	display: block;
	color: var(--t-fg);
	text-decoration: none;
}

.link {
	color: var(--t-subdue);
	display: block;
	margin-left: 1rem;
	text-decoration: none;
	font-size: var(--f-d1);
	text-transform: uppercase;
	padding-top: 0.75em;
	padding-bottom: 0.75em;

	&:focus,
	&:hover {
		color: var(--t-active);
	}
}

.social {
	padding: 11px;
	display: block;
	margin-left: auto;

	+ .social {
		margin-left: 0.75rem;
	}
}

.socialicon {
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	fill: var(--t-subdue);
	transition: fill linear 150ms;

	&:hover {
		fill: var(--t-active);
	}
}
